.container {
    max-width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}


.title {
    float: left;
}

.auth {
    float: right;
}

.actions {
    float: left;
}

ul.links-list {
    list-style: none;
}

ul.links-list li {
    display: inline-block;
}

.header-links-wrapper {
    float: right;
}


.page-name {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.page-name span {
    font-size: 24pt;
}