{% extends "root.html" %}
{% block content %}
<form method="post">
<div class="edit">
    <div class="page-content">
        <label for="content">Page Content:
            <textarea name="content">{{ content | safe}}</textarea>
        </label>
    </div>
    <div class="submit">
        <input type="submit" value="Submit">
    </div>
    {% if error %}
    <div class="error">
        <span>{{ error }}</span>
    </div>
    {% endif %}
</div>
</form>
{% endblock %}