{% extends "root.html" %}
{% block content %}
{% if page_name %}
<div class="page-name">
    <span>{{ page_name }}</span>
</div>
{% endif %}
{% if versions %}
<table>
    <caption>History of versions</caption>
    <thead>
        <tr>
            <th>date</th><th>revision number</th><th>content</th><th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for page in versions %}
        <tr>
            <td>{{ page.registered_at }}</td>
            <td>{{ page.version }}</td>
            <td>{{ page.content }}</td>
            <td><a href="/{{ page.name}}?v={{ page.version }}" title="">view</a></td>       
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}