{% block content %}
<h1>Login</h1>
<form method="POST">

<label>Username<input type="text" name="username" value="{{ username }}"></label><br>

<label>Password<input type="password" name="password" value=""></label><br>
<div class="error">{{ error }}</div>
<input type="submit">

</form>
{% endblock %}