{% extends "root.html" %}
{% block content %}
<div class="edit">
    <a href="/_edit/{{ page_name }}" title="Edit this page">edit</a>
</div>
<div class="page-name">
    <span>{{ page_name }}</span>
</div>
<div class="page-content">
    {{ page_content | safe }}
</div>
{% endblock %}