<!DOCTYPE html>
<html>
<head>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <header id="header" class="">
        <div class="header-top">
            <div class="container">
                <div class="header-links-wrapper">
                {% if actions %}
                <div class="actions">
                    <ul class="links-list">
                        {% for action in actions %}
                        <li><a href="{{ action.url }}" title="{{ action.action_name }}">{{ action.action_name }}</a></li>
                        {% if actions[-1] != action %}|{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="auth">
                    <div class="links">
                        <ul class="links-list">
                            {% if user %}
                            <li>{{ user.username }} (<a href="/logout" title="logout">Logout</a>)</li>
                            {% else %}
                            <li><a href="/login" title="Login">Login</a></li>
                            <li><a href="/signup" title="Signup">Signup</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header-container container">
            <div class="title"><h1>{{ title }}</h1></div>
            <div class="clear"></div>
        </div>
    </header><!-- /header -->
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
</form>
</body>
</html>