{% block content %}
<h1>Signup</h1>
<form method="POST">

<label>Username<input type="text" name="username" value="{{ username }}"></label>
<span>{{ username_error }}</span><br>

<label>Password<input type="password" name="password" value=""></label>
<span>{{ password_error }}</span><br>

<label>Verify password<input type="password" name="verify"></label>
<span>{{ verify_error }}</span><br>

<label>Email<input type="text" name="email" value="{{ email }}"></label>
<span>{{ email_error }}</span><br>
<div class="error">{{ general_error }}</div>
<input type="submit">

</form>
{% endblock %}