<!DOCTYPE html>
<html>
<head>
    <title>
        ascii chan be here
    </title>
</head>
<body>
    <h1>ascii chan</h1>
    <div style="width: 400px; padding: 20px">
        <form action="" method="post" accept-charset="utf-8">
            <label>
                <div>
                    title:
                </div>
                <input type="text" name="title" value="{{ title }}" placeholder="">
            </label>
                <label>
                <div>
                    art:
                </div>
                <textarea style="width: 100%; height: 200px" name="art">{{ art }}</textarea>
            </label>
            <div class="error">{{ error }}</div>
            <div>
                <button style="float: right" type="submit">submit</button>
            </div>
        </form>
    </div>
    {% if arts %}
    <div class="arts-container">
        {% for art in arts %}
        <div class="art">
            {{ art.title }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>