{% extends "root.html" %}
{% block content %}
{% if posts %}
<div class="posts-container">
    {% for post in posts %}
        <div class="post">
            <div class="post-subject">{{ post.subject }}</div>
            <div class="post-content">{{ post.content }}</div>
        </div>

    {% endfor %}
</div>
{% endif %}
{% endblock %}