{% extends "root.html" %}
{% block content %}
<div style="width: 400px; padding: 20px">
<form action="" method="post" accept-charset="utf-8">
    <label>
        <div>
            subject:
        </div>
        <input type="text" name="subject" value="{{ subject }}" placeholder="">
    </label>
        <label>
        <div>
            content:
        </div>
        <textarea style="width: 100%; height: 200px" name="content">{{ content }}</textarea>
    </label>
    <div class="error">{{ error }}</div>
    <div>
        <button style="float: right" type="submit">submit</button>
    </div>
</form>
</div>
{% endblock %}