<!DOCTYPE html>
<html>
<head>
    <title>
        Blog demo
    </title>
    <style type="text/css" media="screen">
        body {
            margin: 0;
        }
        .posts-container {
            padding: 20px;
            width: 400px;
        }

        .post + .post {
            margin-top: 20px;
        }

        .post-content {
            border: 1px solid black;
            padding: 10px;
        }

    </style>
</head>
<body>
    <h1>Blog</h1>
    {% block content %}
    {% endblock %}
</body>
</html>