<!DOCTYPE html>
<html>
<head>
    <title>
        ascii chan be here
    </title>
    <style type="text/css" media="screen">
        .art {
            border: 1px solid black;
            padding: 10px;
        }
        .art + .art {
            margin-top: 20px;
        }
        .art-title {
            display: inline-block;
            border-bottom: 1px red dashed;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h1>ascii chan</h1>
    <div style="width: 400px; padding: 20px">
        <form action="" method="post" accept-charset="utf-8">
            <label>
                <div>
                    title:
                </div>
                <input type="text" name="title" value="{{ title }}" placeholder="">
            </label>
                <label>
                <div>
                    art:
                </div>
                <textarea style="width: 100%; height: 200px" name="art">{{ art }}</textarea>
            </label>
            <div class="error">{{ error }}</div>
            <div>
                <button style="float: right" type="submit">submit</button>
            </div>
        </form>
        {% if img_url %}
            <img src="{{img_url}}">
        {% endif %}
    </div>
    {% if arts %}
    <div class="arts-container">
        {% for art in arts %}
        <div class="art">
            <div class="art-title">
                {{ art.title }}
            </div>
            <div class="art-content">
                {{ art.art }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>