<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <header id="header" class="">
        <h1>Templates test</h1>
    </header><!-- /header -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <ul>
            <li><a href="/lesson2/templates" title="">Shopping list</a></li>
            <li><a href="/lesson2/templates/about" title="">About us</a></li>
        </ul>
    </footer>
</body>
</html>