{% extends "base.html" %}
{% block content %}
<form>
    <h2>Add a food</h2>
    <input type="text" name="food">
    {% for item in items %}
    <input type="hidden" name="food" value="{{item}}">
    {% endfor %}
    <button>add</button>

</form>
{% if items %}
<h2>Shopping list:</h2>
<ul>
    {% for item in items %}
    <li>{{item}}</li>
    {% endfor %}
    
</ul>
{% endif %}
{% endblock %}